<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To-Do List App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <h1>Hello! This is a To-Do List App.</h1>
        </div>

        <div>
            <h1>To-Do List</h1>
        </div>

        <div>

            <h1>Add a Task</h1>

            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </p>
                <p>
                    {{ form.task_name.label }}<br>
                    {{ form.task_name(size=32) }}
                </p>
                <p>
                    {{ form.priority.label }}
                    {{ form.priority() }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

        </div>

        <table>
            <tr>
                <th>Point of Contact</th>
                <th>Task</th>
                <th>Actions</th>
            </tr>
            
            {% for item in items %}
            <tr>
                <td>{{ item.email }}</td>
                <td>{{ item.task }}</td>
            </tr>
            {% endfor %}
        </table>

        <script src="" async defer></script>
    </body>

</html>