<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To-Do List App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
            <h1>Hello! This is a To-Do List App.</h1>
        </div>

        <div>

            <h1>Add an Item</h1>

            <form action="/submit" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                    {% for error in form.email.errors %}
                    <br>
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.task_name.label }}<br>
                    {{ form.task_name(size=32) }}
                    {% for error in form.task_name.errors %}
                    <br>
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.priority.label }}
                    {{ form.priority() }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>

        <div>
            <h1>To-Do List</h1>
        </div>

        <div>
            <table>
                <tr>
                    <th>Point of Contact</th>
                    <th>Task</th>
                    <th>Priority</th>
                </tr>
                
                {% for item in items %}
                <tr>
                    <td>{{ item.email }}</td>
                    <td>{{ item.task }}</td>
                    <td>{{ item.priority }}</td>

                </tr>
                {% endfor %}
            </table>
        </div>

    </body>

</html>